@import "./Styles/variables";
@import "./Styles/mixins";

*{
      margin: 0;
      padding: 0;
      font-family:  Calibri, 'Trebuchet MS', sans-serif
}

.app {
      color: $text-color-white;

      .pointer {
            cursor: pointer
      }
}

.nav-container {
      @include flex-container(space-around, wrap, 30px, row);

      padding-top: 30px;

      .input-field {
            padding: 6px 10px;
            width: 380px;
            background: transparent;
            border-radius: 6px;
            border: 2px solid $input-field-border;
            background-image: url('./assets/icons/loupe.png');
            background-repeat: no-repeat;
            background-position: 370px center;
      }

      .input-field::placeholder {
            color: $text-color-white;
            font-size: 16px;
            font-style: normal;
            line-height: 24px;
            font-weight: 400;
      }

      input:focus {
            outline: none;
            color: $text-color-white;
            font-weight: 400;
            font-size: 16px;
      }

      .menu-btn {
            cursor: pointer;
      }
}

.header-container {
      background-repeat: no-repeat;
      // background-position: top center;
      background-size: contain;
      height: 100vh;

      .trailer-container {
            padding: 80px 100px;
            @include flex-container(flex-start, nowrap, 0, row);

            h1{
                  // font-size: 48px;
                  font-size: 4.5vw;
                  font-style: normal;
                  font-weight: 700;
                  letter-spacing: 1.5px;
                  line-height: 56px;
            }

            p{
                  margin: 16px 0;
                  // font-size: 14px;
                  font-size: 1.3vw;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 18px
            }

            .movie-source-layout {
                  @include flex-container(flex-start, nowrap, 30px, row);
                  margin: 16px 0;
            }

            .watch-btn {
                  @include flex-container(flex-start, nowrap, 8px, row);
                  margin: 16px 0px;
                  border-radius: 6px;
                  padding: 6px 16px;
                  background: $text-color-rose;
                  cursor: pointer;
                  width: 140px;
                  font-size: 14px;
            }
      }
}

//Featured Movies styling
.carousel-container {
      color: $text-color-black;
      margin: 0px 100px;
      // text-align: center;

      .section-title-container {
            @include flex-container(space-between, nowrap, 0, row);
            margin-bottom: 15px;

            h4{
                  font-size: 36px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;

            }

            h3{
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 24px;
                  color: $text-color-rose;
                  cursor: pointer;
            }
      }
}

.card-container {
      margin: 10px;
      // height: 370px;
      width: 180px;

      .movie-img-container {
            height: 270px;
            background-repeat: no-repeat;
            position: relative;
            // background-position: top center;
            text-align: center;
            background-size: contain;
      }

      .movie-details-container {
            color: $text-color-black;

            .place-genre {
                  color: $text-color-grey;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  margin-top: 10px;
            }

            h3{
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  margin-top: 8px
            }

            .movie-ratings-container {
                  @include flex-container(space-between, nowrap, 0, row);
                  margin-top: 10px;

                  .movie-ratings {
                        @include flex-container(center, nowrap, 5px, row);

                        .rating-value {
                              color: $text-color-gray-900;
                              font-size: 12px;
                              font-style: normal;
                              font-weight: 400;
                              // line-height: 12px;
                        }
                  }
            }
      }
}

.video-container {
      margin: 10px;
      width: 420px;

      .video-img-container {
            height: 250px;
            background-repeat: no-repeat;
            position: relative;
            // background-position: top center;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .video-details-container {
            color: $text-color-black;

            h3{
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
            }


      }

}

footer {
      @include flex-container(center, nowrap, 30px, column);
      padding: 50px 0;

      .social-networks-container {
            @include flex-container(center, nowrap, 30px, row);
      }

      .TC-container {
            @include flex-container(center, nowrap, 30px, row);
            color: $text-color-black;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            gap: 48px;
      }

      .copyright {
            color: #6B7280;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            font-style: normal;
      }
}

