@import "./Styles/variables";
@import "./Styles/mixins";

*{
      margin: 0;
      padding: 0;
      font-family:  Calibri, 'Trebuchet MS', sans-serif
}

.nav-container {
      @include flex-container(space-around, wrap, 30px, row);

      padding-top: 20px;

      .input-field {
            padding: 6px 10px;
            width: 380px;
            background: transparent;
            border-radius: 6px;
            border: 2px solid $input-field-border;
            background-image: url('./assets/icons/loupe.png');
            background-repeat: no-repeat;
            background-position: 370px center;
      }

      .input-field::placeholder {
            color: $text-color-white;
            font-size: 16px;
            font-style: normal;
            line-height: 24px;
            font-weight: 400;
      }

      .menu-btn {
            cursor: pointer;
      }
}

.header-container {
      background-repeat: no-repeat;
      background-position: top center;

      .trailer-container {
            padding: 80px 100px;
            @include flex-container(flex-start, nowrap, 0, row);

            h1{
                  font-size: 48px;
                  font-style: normal;
                  font-weight: 700;
                  letter-spacing: 1.5px;
                  line-height: 56px;
            }

            p{
                  padding-top: 10px;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 18px
            }

            .movie-source-layout {
                  @include flex-container(flex-start, nowrap, 30px, row);
                  padding-top: 10px;
            }

            .watch-btn {
                  @include flex-container(flex-start, nowrap, 10px, row)

            }
      }
}

.app {
      color: $text-color-white;
}